body {
    background: #fff;
}

.grid-container {
    display: inline-grid;
    grid-gap: 1em;
    grid-template-columns: repeat(19, 20px [col-start]);
    grid-template-rows: repeat(19, 20px [row-start]);
}

